*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* debut du header */

header{
    align-items: center;
    border: 1px solid;
    display: flex;
    height: 71px;
    justify-content: space-between;
    padding: 20px 100px;
    width: 100vw;
    z-index: 99;
    overflow: hidden;
}

.logo{
    font-size: 2em;
    user-select: none; 
}

.navigation{
    font-size: 1.5rem;
    margin-top: 30px;
    
}

.navigation a{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 60px;
    text-decoration: none;
}

/* fin du header */

/* debut du parent */

.parent{
    border: 1px solid;
    margin-top: 100px;
    width: 100vw;
}

.titre{
    border: 1px solid;
    padding: 20px 480px;
    margin: 1%;
}

.titre h2{
    border: 1px solid;
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: center;
    width: 300px;
}

.parent__type{
    border: 1px solid;
    display: flex;
    margin: 1%;
}

.yo{
    border-radius: 20px;
    border: 1px solid;
    height: 480px;
    margin: 10px;
    overflow: hidden;
    width: 400px;
}

.yo img{
    width: 100%;
    height: 100%;
}

.yo h2{
    margin-left: 150px;
    margin-top: -300px;
}


/* debut du parent */